<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.geographyquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quest1"
            android:label="@string/quest1_label" />
        <activity
            android:name=".Quest2"
            android:label="@string/quest2_label" />
        <activity
            android:name=".Quest3"
            android:label="@string/quest3_label" />
        <activity
            android:name=".Quest4"
            android:label="@string/quest4_label" />
        <activity
            android:name=".Quest5"
            android:label="@string/quest5_label" />
        <activity
            android:name=".Quest6"
            android:label="Question 6"/>
        <activity android:name=".FinalScore" />

    </application>

</manifest>